<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">To Do App</h1>

        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>Todo Title</label>
                <input type="text" name="title" placeholder="Enter Todo..."><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>

        <div class="ui centered cards">
            {% for todo in todo_list %}
              <div class="card">
                <div class="content">
                  <div class="header">
                      {{ todo.id }} | {{ todo.title }}
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    {% if todo.complete == False %}
                    <a href="/update/{{ todo.id }}" class="ui animated basic red button">
                        <div class="visible content">Not Complete</div>
                        <div class="hidden content">
                        <i class="green check icon"></i>
                        </div>
                    </a>
                    {% else %}
                    <a href="/update/{{ todo.id }}" class="ui animated basic green button">
                        <div class="visible content">Completed</div>
                        <div class="hidden content">
                        <i class="red close icon"></i>
                        </div>
                    </a>
                    {% endif %}
                    <a class="ui animated basic red button" href="/delete/{{ todo.id }}">
                        <div class="visible content">Delete</div>
                        <div class="hidden content">
                        <i class="red trash icon"></i>
                        </div>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>